*.o
*~
*.swp
*.pyc
*.mif
*.mih
*.dat
*.nii
*.nii.gz
*.mri
*.img
*.hdr
*.rste
/python/lib/mrtrix3/_version.py
/scripts/mrtrix_bash_completion
/dev/
/compiled_docs/
/.vscode/
.cproject
.idea
.project
.settings
.pydevproject
*.config
*.creator
*.log
*.creator.user
*.files
*.includes
*.code-workspace
.__tmp.log
.check_syntax.tmp
.check_syntax2.tmp
build/
CMakeLists.txt.user
config
bin/5tt2gmwmi
bin/5tt2vis
bin/5ttcheck
bin/5ttedit
bin/afdconnectivity
bin/amp2response
bin/amp2sh
bin/connectome2tck
bin/connectomeedit
bin/connectomestats
bin/dcmedit
bin/dcminfo
bin/dirflip
bin/dirgen
bin/dirmerge
bin/dirorder
bin/dirsplit
bin/dirstat
bin/dwi2adc
bin/dwi2fod
bin/dwi2mask
bin/dwi2tensor
bin/dwidenoise
bin/dwiextract
bin/fixel2peaks
bin/fixel2sh
bin/fixel2tsf
bin/fixel2voxel
bin/fixelcfestats
bin/fixelconnectivity
bin/fixelconvert
bin/fixelcorrespondence
bin/fixelcrop
bin/fixelfilter
bin/fixelreorient
bin/fod2dec
bin/fod2fixel
bin/label2colour
bin/label2mesh
bin/labelconvert
bin/labelstats
bin/maskdump
bin/maskfilter
bin/mesh2voxel
bin/meshconvert
bin/meshfilter
bin/mraverageheader
bin/mrcalc
bin/mrcat
bin/mrcentroid
bin/mrcheckerboardmask
bin/mrclusterstats
bin/mrcolour
bin/mrconvert
bin/mrdegibbs
bin/mrdump
bin/mredit
bin/mrfilter
bin/mrgrid
bin/mrhistmatch
bin/mrhistogram
bin/mrinfo
bin/mrmath
bin/mrmetric
bin/mrregister
bin/mrstats
bin/mrthreshold
bin/mrtransform
bin/mrview
bin/mtnormalise
bin/peaks2amp
bin/peaks2fixel
bin/sh2amp
bin/sh2peaks
bin/sh2power
bin/sh2response
bin/shbasis
bin/shconv
bin/shview
bin/tck2connectome
bin/tck2fixel
bin/tckconvert
bin/tckdfc
bin/tckedit
bin/tckgen
bin/tckglobal
bin/tckinfo
bin/tckmap
bin/tckresample
bin/tcksample
bin/tcksift
bin/tcksift2
bin/tckstats
bin/tcktransform
bin/tensor2metric
bin/transformcalc
bin/transformcompose
bin/transformconvert
bin/tsfdivide
bin/tsfinfo
bin/tsfmult
bin/tsfsmooth
bin/tsfthreshold
bin/tsfvalidate
bin/vectorstats
bin/voxel2fixel
bin/voxel2mesh
bin/warp2metric
bin/warpconvert
bin/warpcorrect
bin/warpinit
bin/warpinvert
tmp/*
icons/mrview.qrc
icons/shview.qrc
lib/*
core/version.cpp
src/exec_version.cpp
